:root{
    --main-color : #FF0A0A;
  }

 * {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
 } 

/* HEADER */

header {
  margin-right: 0;
}

#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  #icons {
    display: flex;
    align-items: center;
    font-size: 3em;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5.3rem;
    flex-direction: column;
    background: #ff0a0a;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: #f53030;
  }
  nav.active ul {
    left: 0;
  }
  header {
    margin-right: 0;
  }
  
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

li {
  list-style: none;
}

a,
a:hover {
  color: #0a0903;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

header {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #ff0a0a;
  padding: 10px;
  width: 100%;
  font-size: calc(0.4rem + 0.7vw);
  font-weight: 500;

  img {
    width: 65px;
  }
}

/* MAIN */

 body {
  background-image: url(./assets/altere.jpg);
 }

 @media screen and (min-width:280px) { 
h1 {
    text-align: center;
    color: whitesmoke;
    margin: 1.5rem;
    font-size: xxx-large;
    text-shadow:1px 1px 2px black ;
}
}

@media screen and (min-width:280px) { 
 p{
    text-align: center;
    color: whitesmoke;
    margin: 1rem;
}
}

ul  {
    list-style-type: none;
    padding: 0;
}

li {
  margin-bottom: 10px;
  display: inline-block;
  width: 400px;
}

label.question{
display: inline-block;
  text-align: center;
  width: 400px;
  font-weight:bold ;
  margin-top: 10px;
  margin-bottom:20px ;
}

@media screen and (min-width:280px) { 

 form {
  /* On centre le formulaire */
  margin: auto auto 10px auto ;
  width: 400px;
  background-color: whitesmoke;
  /* Le contour du formulaire */
  padding: 1.5em;
  border: 2px solid var(--main-color);
  border-radius: 1em
  
} 
}


.bouton {
    text-align: center;
    padding: 15px;
    margin: 10px;
   
}
button:hover{background-color: var(--main-color);} 

.submit {
border: #FF0A0A 1px solid;
border-radius: 1em;
padding: 0.2rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff0a0a;
  width: 100%;
  position: absolute;

  img {
    width: 73px;
  }
}

.copyright {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #0a0903;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 1.3em;
  }
}