* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

:root {
  --primary-background-color: #ff0a0a;
  --page-color: #f5f5f5;
  --secondary-background-color: #0a0903;
}

/* HEADER */

header {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #ff0a0a;
  padding: 10px;
  width: 100%;
  height: 70px;
}

.logo1 {
  display: flex;
  justify-content: center;
  background-color: var(--primary-background-color);
  align-items: center;
}

/* MAIN */

main {
  text-align: center;
  width: 100%;
}

.photo-angelina {
  justify-content: center;
  height: 200px;
  width: 200px;
}

.coach1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.photo-sebastien {
  height: 200px;
  width: 200px;
}

.coach2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.photo-maeva {
  height: 200px;
  width: 200px;
}

.coach3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.photo-nico {
  height: 200px;
  width: 200px;
}
.coach4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #ff0a0a;
  width: 100%;
  margin-top: 187px;
}

.copyright {
  display: flex;
  align-items: center;
}

.logo-insta {
  width: 50px;
  height: 50px;
}

.logo-fb {
  width: 50px;
  height: 50px;
}
